*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#050505;
color:white;
}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 10%;

background:#111;

position:fixed;

width:100%;
}

.logo{

font-size:28px;
font-weight:bold;
color:#4da3ff;

}

nav a{

color:white;

margin-left:30px;

text-decoration:none;

transition:.3s;

}

nav a:hover{

color:#4da3ff;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

}

.hero h1{

font-size:55px;

max-width:900px;

margin-bottom:20px;

}

.hero p{

font-size:22px;

max-width:700px;

color:#ccc;

margin-bottom:35px;

}

.botao{

background:#4da3ff;

padding:15px 40px;

border-radius:40px;

text-decoration:none;

color:white;

font-weight:bold;

transition:.3s;

}

.botao:hover{

transform:scale(1.05);

}

section{

padding:100px 10%;

}

h2{

text-align:center;

margin-bottom:60px;

font-size:40px;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}

.card{

background:#151515;

padding:35px;

border-radius:20px;

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

background:#1f1f1f;

}

.beneficios{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

text-align:center;

font-size:22px;

}

footer{

padding:40px;

text-align:center;

background:#111;

margin-top:50px;

}